// *= require fonts

@charset "utf-8";

// ********************************************************
//                    ドキュメント
// ********************************************************

// bootstrap-sass 公式サイト
// https://github.com/twbs/bootstrap-sass
// http://getbootstrap.com/customize/


// ========================================================
//                      SCSS 変数定義
// ********************************************************

// ----- Basics -------------------------------------------

// [Components]
// Rounded corners
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// [Typography]
// Generic font variables
$font-family-sans-serif:  'メイリオ', sans-serif;

// ----- Buttons ------------------------------------------

// [Default]
$btn-default-color: #fff;
$btn-default-bg: #cbbedd;


// ===== Navbar ===========================================

// [Base Styles]
$navbar-height: 40px;

// [Default Navbar]
// Basics
$navbar-default-color: #fff;
$navbar-default-bg: #7f7f7f;

// Links
$navbar-default-link-color: #fff;

// ===== Nav ==============================================

$nav-link-padding: 10px 10px;


// ===== Panels and wells =================================
// [Common panel styles]
$panel-border-radius: 8px;

// [Contextual panel colors]
$panel-default-border: #cbbedd;
$panel-default-text: #000;
$panel-default-heading-bg: transparent;


// ===== Forms ============================================
// [Inputs]
$input-border: #b09ecb;

// [Input sizes]
$input-height-base: 32px;


// ********************************************************
//                     新規変数定義
// ********************************************************

$font-family-japanese-default: $font-family-sans-serif;
$font-family-english-default: Calibri, sans-serif;


// ********************************************************
//                     Bootstrap 適用
// ********************************************************

@import "bootstrap";


// ********************************************************
//                       CSS 上書き
// ********************************************************

.navbar-brand {
	letter-spacing: 4px;
	font-size: 18px;
	font-family: Calibri, sans-serif;
}

.navbar-brand strong {
	margin-right: 6px;
	font-size: 31px;
	font-family: REZ, sans-serif;
	font-weight: normal;
}

// ナビゲーションバーの右側
.navbar-nav {
	padding-right: 15px;
}

// ナビゲーションバーのリンク
.navbar-nav a {
	display: inline-block !important;
	font-family: $font-family-english-default;
	font-size: 15px;
}

// ナビゲーションバーの左右のパイプ
// 各項目の左、及び最後の項目の右に付ける
.navbar-nav li::before,
.navbar-nav li:last-of-type::after {
	content: "|";
	color: $navbar-default-link-color; // 文字色と同じ
}

// パネル
.panel {
	border-width: 3px;
}

.panel .panel-heading {
	margin: 10px 22px 0;
	padding: 2px 7px;
	border-bottom: 2px dotted #b09ecb;
	color: #7c5da9;
	font-size: 22px;
	font-family: $font-family-japanese-default;
}

.btn {
	font-family: $font-family-japanese-default;
}

.panel-body {
	p {
		margin: 0 5px 0 17px;
		line-height: 1.2;
		font-size: 15px;
		font-family: $font-family-japanese-default;
	}
	
	
	.control-label {
		padding-right: 0;
		text-align: right;
		color: #7f7f7f;
		font-family: $font-family-japanese-default;
		font-weight: normal;
		font-size: 15px;
	}
	
	.form-control {
		border-width: 2px;
	}
	
	.btn {
		width: 190px;
	}
	
	form {
		margin: 0 17px;
		padding: 20px 30px 15px;
	}
}

// ログイン
#cms_login {
	margin-top: 30px;
	width: 655px;
}

body {
	background-image: url(cms_bg.png);
	background-position: 0 $navbar-height;
}