# coding: utf-8

<div class="panel-heading">子カテゴリ編集</div>

<div class="panel-body">
  <%= render 'form' %>
  
  <p><%= link_to '詳細', @child_category %> |
  <%= link_to '戻る', :controller => "categories", :action => "show", :id => @child_category.category_id %></p>
</div>

<%= javascript_include_tag 'cms_books' %>