# coding: utf-8

<div class="panel-heading">タグ編集</div>

<div class="panel-body">
  <%= render 'form' %>

  <%= link_to '詳細', @tag %> |
  <%= link_to '一覧', tags_path %>
   
</div>
<%= javascript_include_tag 'cms_books' %>