# coding: utf-8

<div class="panel-heading">カテゴリ編集</div>

<div class="panel-body">
  <%= render 'form' %>
  
  <p><%= link_to '詳細', @category %> |
  <%= link_to '一覧', categories_path %></p>
</div>

<%= javascript_include_tag 'cms_books' %>