# coding: utf-8

<div class="panel-heading">親カテゴリ追加</div>

<div class="panel-body">
  <%= render 'form' %>
  <p><%= link_to '戻る', categories_path %></p>
</div>

<%= javascript_include_tag 'cms_books' %>