# coding: utf-8

<div class="panel-heading">学群名変更</div>

<div class="panel-body">
	<div id="notice"><%= notice %></div>

	<%= render 'form' %>

	<%= link_to '戻る', :action => 'index' %>
</div>

<%= javascript_include_tag 'cms_theses' %>