@import "bootstrap";

$maincolor: #B0D9C8; // add8e6;
$maincolor_dark: #548C77; // 4682b4;
$maincolor_bright: #DBEAE4; // f0f8ff;
$subcolor: #7F7F7F;
$subcolor_bright: #A6A6A6;
$subcolor_soft: #dddddd;

$textcolor: #554A5B;
$linkcolor_main: #7AC7A7;
$linkcolor_sub: #518F75;

/* Universal */

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  height: 100%;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 30px auto -40px;
}

#push {
  height: 60px;
}

#footer {
  margin-left: -60px;
  margin-right: -60px;
  height: 50px;
  color: #fff;
  background: $subcolor;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  margin: -25px 15px 0px;
  padding: 5px;
  background: #fff;
}

#header > .header_title {
  padding: 5px;
  font-size: 2.5em;
  letter-spacing: 0px;
  border-bottom: dotted $maincolor;
}

#header > .header_intro {
  font-size: 0.8em;
  text-align: right;
}

.inner_title {
  margin: 5px 15px 15px;
  padding: 5px;
  border-bottom: dotted $maincolor;
}

.inner_title > h3 {
  margin: 5px;
}

.inner_title > .btn {
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 4px 12px;
}

.inner_contents {
  margin: 15px 15px 40px;
  padding: 5px;
  .label {
    font-size: 0.9em;
    margin: 5px 2px;
    display: inline-block;
  }

  .label > a {
    color: #fff;
  }
}

.book_info {
  .panel-heading {
    font-size: 1.3em;
  }
  .panel-body {
    font-size: 1.1em;
  }
  .list ul {
    margin: 5px 0;
  }
  .list li {
    margin: 0;
    display: inline-block;
    width: 250px;
  }
  .label {
    font-size: 0.9em;
    margin: 5px 2px;
    display: inline-block;
    a {
      color: #fff;
    }
  }
}

.tag_and_review {
  margin: 0 20px 20px;
}

.book_review {
  .btn {
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 3px 10px;
  }
  .review_value {
    margin: 10px;
    font-size: 0.9em;
  }
}

.list ul {
  margin-bottom: 15px;
}

.list li {
  display: inline-block;
  width: 100px;
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  text-indent: 10px;
  line-height: 18px;
}

a {
  &:link, &:hover, &:active {
    color: $linkcolor_main;
  }
  &:visited {
    color: $linkcolor_sub;
  }
}

ul {
  margin: 0 0 0 1em;
  padding: 0;
}

li {
  margin: 5px;
}

/* Bootstrap Customize */

.btn-default {
  font-size: 13px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  &:hover, &:active {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: $maincolor_bright;
  }
}

.btn-primary {
  font-size: 14px;
  background-color: $maincolor;
  border: 1px solid #fff;
  &:hover, &:active {
    background-color: $maincolor_bright;
    border: 1px solid #fff;
  }
}

a.btn-primary {
  &:link {
    color: #fff;
  }
  &:hover, &:active {
    color: $maincolor_dark;
  }
}

.navbar {
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-color: #ddd;
  background-color: $subcolor;
}

.navbar-default .navbar-nav > li > a {
  color: #ddd;
  &:hover, &:active {
    color: #bbb;
  }
}

.navbar-default .navbar-brand {
  color: #ddd;
  &:hover, &:active {
    color: #bbb;
  }
}

a.list-group-item {
  color: #fff;
  background-color: $maincolor;
  border: 1px solid #fff;
  &:visited {
    color: #fff;
  }
  &:hover, &:focus {
    color: $maincolor_dark;
    background-color: $maincolor_bright;
    border: 1px solid #fff;
  }
}

.well {
  color: $textcolor;
  background-color: #fff;
  border: 1px solid $subcolor_soft;
}

.nav-tabs {
  margin: 0 15px 20px;
}

.pull-left {
  margin: 0 10px 0;
}

.panel {
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
  border-color: #dddddd;
}

.media {
  margin-top: -5px; 
}

.media-list {
  margin: 0;
}

/* Notice and Error Message*/

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
