<h1><%= @faculty.name %></h1>

<%#= 研究室一覧表示 %>
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<% @labs.each do |lab| %>
			<td><%= link_to lab.name, :controller => 'thesis_tops', :action => 'lab', :faculty_id => @faculty.id, :lab_id => lab.id %></td>
		<% end %>
	</tr>
</table>

<%= render 'index' %>

<br>
<%= link_to_function '戻る', 'history.back()' %>