<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">学位論文</h1>
      <div class="header_intro">このページでは、高知工科大学 卒業生の論文を公開しています。</div>
  </div>
</div>

<!-- inner -->
<div class="row">
  さんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすとさんぷるてきすと
</div>