<div class="list-group">
	<a href="#" class="list-group-item">
		メインメニュー
	</a>
	
	<a href="#" class="list-group-item">
		イベント編集
	</a>
	
	<a href="#" class="list-group-item">
		お知らせ編集
	</a>
	
	<a href="#" class="list-group-item">
		カレンダー編集
	</a>
	
	<a href="#" class="list-group-item">
		学位論文編集
	</a>
	
	
	<a href="#" class="list-group-item">
		蔵書検索管理
	</a>
	
	<a href="#" class="list-group-item">
		設定
	</a>
</div>