<% content_for :navbar do %>
				<li><a href="#">Web Site View</a></li>
				<li><a href="#">Configure</a></li>
				<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
<% end %>

<% content_for :content do %>
<%= yield %>
<% end %>

<%= render file: 'layouts/application' %>