<% content_for :navbar do %>
				<li><a href="#">Web Site View</a></li>
				<li><a href="#">Configure</a></li>
				<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
<% end %>

<% content_for :content do %>
<div class="col-sm-3 col-md-3 col-md-offset-1">
	<%= render 'layouts/cms_main_menu' %>
</div>
<div class="col-sm-9 col-md-7">
	<div class="center-block">
		<div class="panel panel-default">
			<%= yield %>
		</div>
	</div>
</div>
<% end %>

<%= render file: 'layouts/application' %>