<div class="panel-heading">設定</div>

<div class="panel-body cms-menu">
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%=  %>" class="thumbnail">
					<img src="/assets/header.png" alt="">
				</a>
				
				<div class="caption">
					<h3>ヘッダ・フッタの設定</h3>
					<p>ヘッダ・フッタに表示するタイトルや連絡先情報の変更ができます。</p>
				</div>
				
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="#" class="thumbnail">
					<img src="/assets/pages.png" alt="">
				</a>
				
				<div class="caption">
					<h3>各種ページの設定</h3>
					<p>各種ページの名称や順序の変更、公開／非公開設定の変更ができます。</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="#" class="thumbnail">
					<img src="/assets/password.png" alt="">
				</a>
				
				<div class="caption">
					<h3>ログイン情報の変更</h3>
					<p>ログイン用パスワードを変更できます。</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$("#config_menu").removeClass("hide");
</script>