<div class="panel-heading">メインメニュー</div>

<div class="panel-body cms-menu">
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3>イベント編集</h3>
					<p>イベント編集ページの説明を書きます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="...">
				</a>
				
				<div class="caption">
					<h3>お知らせ編集</h3>
					<p>お知らせ編集ページの説明を書きます。</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3>カレンダー編集</h3>
					<p>カレンダー編集ページの説明を書きます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= cms_top_theses_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="...">
				</a>
				
				<div class="caption">
					<h3><a href="<%= cms_top_theses_path %>">学位論文編集</a></h3>
					<p>学位論文編集ページの説明を書きます。</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= cms_top_books_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= cms_top_books_path %>">蔵書検索管理</a></h3>
					<p>蔵書検索管理ページの説明を書きます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="...">
				</a>
				
				<div class="caption">
					<h3>設定</h3>
					<p>設定ページの説明を書きます。</p>
				</div>
			</div>
		</div>
	</div>
</div>