<div class="panel-heading">学位論文編集</div>

<div class="panel-body cms-menu">
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= theses_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3>論文編集</h3>
					<p>学位論文の追加/削除が行えます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= faculties_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3>学群編集</h3>
					<p>論文の属する学群の追加/削除が行えます。</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'cms_theses' %>