<% #coding: utf-8 %>

<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">過去のお知らせ一覧</h1>
      <div class="header_intro">このページでは、図書館からの過去のお知らせを閲覧できます。</div>
  </div>
</div>

<!-- inner -->
<table>
  <tr>
    <th>日付</th>
    <th>タイトル</th>
  </tr>

<% Schedule.where(:type => "News").reverse_order.each do |schedule| %>
  <tr>
    <td><%= schedule.date.strftime("%Y年 %m月 %d日") %></td>
    <td><%= link_to (schedule.title), :controller => 'tops', :action => 'show_news', :id => schedule%></td>
  </tr>
<% end %>
</table>