<%= form_for(@faculty) do |f| %>

	<% if @faculty.errors.any? %>
		<ul>
 			<% @faculty.errors.full_messages.each do |msg| %>
 				<li><%= msg %></li>
 			<% end %>
 		</ul>
	<% end %>

	<table border="1" width="350" cellspacing="0" cellpadding="5">
		<tr>
			<div class="field">
				<th>学群名</th>
				<th><%= f.text_field :name %></th>
			</div>
		</tr>
	</table>

	<br>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>