<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center">カテゴリ一覧</div>
  </div>
  <div class="panel-body">
    <ul>
      <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category) %>
        <ul>
          <% @child_categories.each do |child_category| %>
          <li>
            <%= link_to child_category.name, child_category_path(category) %>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>