<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center">カテゴリ一覧</div>
  </div>
  <div class="panel-body">
    <ul>

      <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, opacplus_category_path(category),
          :category_id => category.id %>
        <ul>
          <% category.child_categories.each do |child_category| %>
          <li>
            <%= link_to child_category.name, opacplus_child_category_path(child_category),
              :category_id => category.id,
              :child_category_id => child_category.id %>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>

    </ul>
  </div>
</div>