  <%= simple_form_for(
        @review_new,
        html: { class: 'form-horizontal', role: 'form' },
        
        # 以下2行で、ReviewTops コントローラの create メソッドに送信するように指定
        # opacplus_reviews_path は routes.rb 参照
        url: opacplus_reviews_path,
        action: :post
      ) do |f|
  %>
    <% if @review_new.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review_new.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review_new.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group">
      <div class="col-sm-12 text-center">
        <%= f.button :submit, 'この内容でレビューを投稿する', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>