<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">目的別検索 OPAC+</h1>
      <div class="header_intro">このページでは、図書館所蔵の本を目的別に探し、レビューを閲覧・投稿することができます。</div>
  </div>
</div>

<!-- sidemenu -->
<div class="row">
  <div class="col-md-3">
      <%= render 'category_menu' %>
  </div>

<!-- inner -->
  <div class="col-md-9">
    <div class="well">

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default" style="visibility: hidden;">
          戻る
        </button>
        <h3 class="pull-right">OPAC+とは？</h3>
      </div>

<!-- inner contents - opacplus introduction -->
      <div class="inner_contents">
        <p>
          OPAC+は、図書館の利用者の皆さまが求める本に出会えるように支援するシステムです。カテゴリからの蔵書検索と、利用者によるレビューの閲覧と投稿ができます。
        </p>
        <p>
          左のサイドバーより、お好きなカテゴリから本を探してみて下さい。図書館の利用者・管理者による信頼できるレビューや評価が閲覧できます。また、下部のボタンからは読み終わった本に対してレビューを投稿し、他の利用者に良い本を教えることもできます。
        </p>
        <p>
          お問い合せは、高知工科大学 附属情報図書館 受付まで。
        </p>
      </div>

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default" style="visibility: hidden;">
          戻る
        </button>
        <h3 class="pull-right">新しく本を追加する</h3>
      </div>

<!-- inner contents - review -->
      <div class="inner_contents">
        <p>
          以下のボタンから、図書館利用者におすすめしたい本を追加することができます。
        </p>
        <p>
          本は図書館のシステムに送信され、職員による確認の後に追加されます。
          反映までには時間がかかりますので、ご了承ください。
        </p>
        <div class="text-center">
          <a data-toggle="modal" href="#book_new" class="btn btn-primary">
            新しく本を追加する
          </a>
        </div>

        <div class="modal fade" id="book_new">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                新しく本を追加する
              </div>
              <div class="modal-body">
                <%= render 'book_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default" style="visibility: hidden;">
          戻る
        </button>
        <h3 class="pull-right">タグから探す</h3>
      </div>

<!-- inner contents - tag -->
      <div class="inner_contents">
        <p>
          タグとは、本に紐付けることのできる情報です。カテゴリと同じように、タグから関連する本を探すことができます。
          カテゴリと異なるのは、利用者が自由にタグをつけることができる点です。
        </p>
        <p>
          以下のタグから、気になるものをクリックしてください。
        </p>
        
        <% @tags.each do |tag| %>
          <span class="label label-default">
            <%= link_to tag.name, opacplus_tag_path(:name => tag.name) %>
          </span>
        <% end %>
      </div>

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default" style="visibility: hidden;">
          戻る
        </button>
        <h3 class="pull-right">新しくタグを追加する</h3>
      </div>

<!-- inner contents - review -->
      <div class="inner_contents">
        <p>
          本につけたいタグがない時は、新しくタグを追加することができます。
        </p>
        <p>
          タグは図書館のシステムに送信され、職員による確認の後に追加されます。
          反映までには時間がかかりますので、ご了承ください。
        </p>
        <div class="text-center">
          <a data-toggle="modal" href="#tag_new" class="btn btn-primary">
            新しくタグを追加する
          </a>
        </div>

        <div class="modal fade" id="tag_new">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                新しくタグを追加する
              </div>
              <div class="modal-body">
                <%= render 'tag_new_form' %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="tag_created">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                新しいタグの追加依頼に成功
              </div>
              <div class="modal-body">
                新しいタグ「<span id="tag_created_name"></span>」の追加依頼を行いました。実際に追加されるまで、しばらくお待ちください。
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>