<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">目的別検索 OPAC+</h1>
      <div class="header_intro">このページでは、図書館所蔵の本を目的別に探し、レビューを閲覧・投稿することができます。</div>
  </div>
</div>

<!-- sidemenu -->
<div class="row">
  <div class="col-md-3">
      <%= render 'category_menu' %>
  </div>

<!-- inner -->
  <div class="col-md-9">
    <div class="well">

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default">
          <%= link_to '戻る', tops_path %>
        </button>
        <h3 class="pull-right">OPAC+とは？</h3>
      </div>

<!-- inner contents - book index -->
        <ul class="media-list">
          <li class="media">
            <div class="panel panel-default">
              <div class="panel-body">
                <a class="pull-left" href="#">
                </a>
                <div class="media-body">
                  <p>
                    こちらにOPAC+の説明文が入ります。こちらにOPAC+の説明文が入ります。<br>
                    こちらにOPAC+の説明文が入ります。こちらにOPAC+の説明文が入ります。<br>
                    こちらにOPAC+の説明文が入ります。こちらにOPAC+の説明文が入ります。<br>
                    こちらにOPAC+の説明文が入ります。こちらにOPAC+の説明文が入ります。
                  </p>
                  <div class="text-center">
                    <button type="button" class="btn btn-default">
                      <%= link_to 'カテゴリの本一覧に行く', tops_book_path %>
                    </button>
                    <button type="button" class="btn btn-default">
                      <%= link_to '本の詳細情報を見る', tops_book_info_path %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>

</div>