@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
	margin: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#footer {
	height: 60px;
}

#footer > .container {
	pudding-left: 15px;
	pudding-right: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* custom button */

.btn-ttc, .btn-ttc:hover, .btn-ttc:actiove {
	color: white;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #007da7;
}

