<h1>news</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Intro</th>
    <th>Photo</th>
  </tr>

<% Schedule.where(:type => "News")reverse_order.first(3)..each do |schedule| %>
  <tr>
     <td><%= image_tag schedule.photo.url, :width=>'50' %></td>
    <td><%= schedule.date %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.intro %></td>
  </tr>
<% end %>
</table>
