<% #coding: utf-8 %>
<h1>過去のイベント一覧</h1>
<table>
  <tr>
    <th>日付</th>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% Schedule.where(:type => "Event").reverse_order.each do |schedule| %>
  <tr>
    <td><%= schedule.date.strftime("%y年 %m月 %d日") %></td>
    <td><%= schedule.title %></td>
    <td><%= br(schedule.intro) %></td>
  </tr>
<% end %>
</table>
