<% #coding: utf-8 %>
<h1>過去のお知らせ一覧</h1>

<table>
  <tr>
    <th>日付</th>
    <th>タイトル</th>
  </tr>

<% Schedule.where(:type => "News").reverse_order.each do |schedule| %>
  <tr>
    <td><%= schedule.date.strftime("%y年 %m月 %d日") %></td>
    <td><%= schedule.title%></td>
     <td><%= br(schedule.intro) %></td>
  </tr>
<% end %>
</table>