<% #coding: utf-8 %>
<h1>過去のイベント一覧</h1>
<table>
  <tr>
    <th>日付</th>
    <th>タイトル</th>
  </tr>

<% Schedule.where(:type => "Event").reverse_order.each do |schedule| %>
  <tr>
    <td><%= schedule.date.strftime("%Y年 %m月 %d日") %></td>
    <td><%= link_to (schedule.title), :controller => 'tops', :action => 'show_event', :id => schedule %></td>
  </tr>
<% end %>
</table>
