<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">学位論文</h1>
      <div class="header_intro">このページでは、高知工科大学卒業生の学位論文を学群別・研究室別に探し、閲覧することができます。</div>
  </div>
</div>

<%#= 学群一覧表示 %>
<!--
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<% @faculties.each do |faculty| %>
			<td><%= link_to faculty.name, :controller => 'thesis_tops', :action => 'faculty', :id => faculty.id %></td>
		<% end %>
	</tr>
</table>

<%= link_to "論文を表示しない", thesis_tops_path %>

<br><br>
-->
<%= render 'index' %>