<h1>論文TOP</h1>

<%#= 学群一覧表示 %>
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<% @faculties.each do |faculty| %>
			<td><%= link_to faculty.name, :controller => 'thesis_tops', :action => 'faculty', :id => faculty.id %></td>
		<% end %>
	</tr>
</table>

<%= link_to "論文を表示しない", thesis_tops_path %>

<br><br>

<%= render 'index' %>